<!DOCTYPE html>
<html lang="{{ page.language | default: 'en' }}">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Knowledge Continuum" property="og:site_name"/>
    <meta content="A non-linear thread of important ideas weaved together to explore and understand the fabric of knowledge." property="og:description">
    <meta content="{{ site.url }}/about/" property="article:author">

    {%- if page.title -%}
    <meta content="{{ page.title }}" property="og:title">
    <meta content="article" property="og:type">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {%- else -%}
    <meta content="website" property="og:type">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {%- endif -%}

    <title>{{site.heading}}</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="canonical" href="{{site.url}}{{page.url}}"/>
    <link rel="apple-touch-icon" href="/assets/img/profile.png">
    <!-- <link rel="icon" href="/assets/img/favicon.png?" type="image/png" sizes="16x16"/> -->
    <link rel="icon" href="/assets/img/favicon.ico?" type="image/x-icon" sizes="16x16"/>
    
    <!-- 默认的英文字体 -->
    <link href="/assets/css/Style.css" rel="stylesheet" media="all" class="default" />

    <link href="/assets/css/Util.css" rel="stylesheet" media="all" class="default" />
    <link href="/assets/css/vendor/Katex.css" rel="stylesheet" media="all" class="default"/>
    <!--[if IE]>
        <link href="/assets/css/ie-target.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    
    <!-- 如果 language 是中文，则使用中文字体 -->
    {%- if page.language == "zh" -%}
     <!-- 引入 Noto Serif SC 字体 -->
     <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap" rel="stylesheet">

    <style>
        body {
           font-family: 'Noto Serif SC', serif !important;
        }
    </style>
    {%- else -%}
    <!-- 英文字体或默认字体 -->
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
    {%- endif -%}
    
    <!--<link href="/assets/css/prism.css" rel="stylesheet" />-->
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

   
</head>

<body>
    <div class="container">                    
        <div class="box">
            {%- include Header.html -%}
            {%- include Feed.html -%}

            {%- if page.content-type == "notes" 
                or page.content-type == "post"  -%}
            <main>
                <h1>{{ page.title }}</h1>
                {%- include Content.html -%}
                {%- include Backlinks.html -%}
                {%- include Related.html -%}
            </main>
            {%- endif -%}
            {%- if page.content-type == "eg" -%}
            <main>
                <h1>{{ page.title }}</h1>
                {%- include Content.html -%}
            </main>
            {%- endif -%}
            {%- include Comments.html -%}
            {%- include Footer.html -%}
        </div>
        <button class="scroll-to-top" id="scroll-to-top"><i class="fa fa-chevron-up"></i></button>
    </div>
    
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script>
        document.getElementById("scroll-to-top").addEventListener("click", function() {
            window.scrollTo({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });
        });
    </script>
    <!-- Load KaTeX -->
    {%- include ContextMenu.html -%}
</body>
</html>
